.dropdown {
  position: relative;

  .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1000;
    background-color: white;
    text-align: left;
    min-width: 150px;
    box-shadow: 0 0 1px rgba(57, 70, 78, 0.15), 0 20px 55px -8px rgba(57, 70, 28, 0.25);

    li {
      &.separator {
        border: 1px solid #ccc;
        margin: 5px 0;
      }

      &>a {
        margin:  5px 0;
        padding: 5px 0 5px 10px;
        display: block;

        &:hover {
          background-color: whitesmoke;
        }
      }
    }
  }

  &.is-aligned-right .dropdown-menu {
    right: 0;
    left: auto;
  }

  &.is-open .dropdown-menu {
    display: block;
  }
}
